@font-face {
    font-family: 'cardillac';
    src: url('/assets/template-2/fonts/Florilane Cardillac.ttf') format('truetype');

    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'kurale';
    src: url('/assets/template-2/fonts/Kurale-Regular.ttf') format('truetype');

    font-weight: 400;
    font-style: normal;
    font-display: swap;
}