.events-section {
    position: relative;
    z-index: 2;
    width: 100%;
    height: auto;
    top: -100px;
    isolation: isolate;

    .invitation-background {
        display: block;
        width: 100%;
        height: max-content;
        overflow: hidden;
    }
}



.event-card {
    position: absolute;
    top: 200px;
    left: 10%;
    right: 10%;
    text-align: center;
    z-index: 3;


    .event {

        // max-width: 50%;
        // margin: 0 auto;
        .event-background {
            display: block;
            width: 100%;
            height: auto;
            overflow: hidden;
        }

        .content {
            font-family: 'kurale', serif;
            position: absolute;
            top: 50%;
            width: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #005c7c;
            text-align: center;

            .title {
                font-size: 3rem;
                font-weight: bold;
                margin-bottom: 0.5rem;
            }

            p {
                font-size: 1.5rem;
                margin-bottom: 0;
            }
        }
    }
}

.event-bg-2 {
    .event-bg-2-img {
        width: 100%;
        height: auto;
        overflow: hidden;
        position: absolute;
        bottom: 0;
    }

    .elephant {
        position: absolute;
        bottom: 0;
        right: 20%;
        transform: translateX(50%);
        height: auto;
        width: 50%;
    }
}


@media (max-width: 768px) {
    .invitation-background {
        min-height: 1500px;
    }

    .event-card {
        .event {
            .content {
                max-width: 60%;

                .title {
                    font-size: 2rem;
                }
            }
        }
    }
}