body {
  font-family: 'Playfair Display', serif;
  width: 100%;
  margin: 0;
  background-image: url('/assets/template-one/one/total-bg-final -mobile-2.png');
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
}

.playfair-black {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}

/* Mobile Background */

@media (max-width: 480px) {
  body {
    background-image: url('/assets/template-one/one/total-bg-final -mobile-2.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
}
