/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Playfair Display', serif;
}

.playfair-black {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}
